<body>
	<% include partials/head %>
	
	<h1><%= general[0].name %></h1>
	
	<% include partials/timeGreeting %>
	
	<p>At this time of day we play <%= music[0].genre[sceneType][timeOfDay] %> music most of the time.</p>
	<p>Right now our lighting is usually set to <%= lighting[0].mood[sceneType][timeOfDay] %> at <%= lighting[0].percent[sceneType][timeOfDay] %> percent.</p>
	<p>There are <%= general[0].usersfbids.length %> people in this scene.</p> 
	
	<% include partials/join %>
</body>